@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
  font-family: "Poppins", sans-serif;
} */

/* .active{
  background-color: #FF66001C;
  color: #F76A00;
  width: full;
  padding: 5px;

} */

/* .filter-orange {
  filter: brightness(0) saturate(100%) invert(62%) sepia(85%) saturate(601%) hue-rotate(356deg) brightness(102%) contrast(101%);
} */
.inactive-icon {
  filter: brightness(0) saturate(100%) invert(12%) sepia(4%) saturate(348%) hue-rotate(178deg) brightness(95%) contrast(94%);
}

.active-icon {
  filter: brightness(0) saturate(100%) invert(47%) sepia(74%) saturate(1723%) hue-rotate(9deg) brightness(103%) contrast(102%);
}